.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .snowflake {
    animation: snowflake-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes snowflake-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.santaClaus {
  width: 26vw;
  min-width: 250px;
  margin-left: 30px;
}

.containerCenter {
  width: 100vw;
  height: 80vh;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.homeTitle {
  color: white;
  font-size: 50px;
  font-weight: bold;
  min-width: 400px;
  text-align: center;
}

.containerCenter .organize {
  text-align: center;
}

.containerCenter .organize button {
  margin-top: 30px;
}

.snowflake {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo {
    width: 5vw;
    min-width: 50px;
  }

  .header {
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
  }

  .headerTitle {
    color: white;
    font-size: 30px;
    font-weight: bold;
    min-width: 400px;
    text-align: center;
  }

  .formular {
    width: 100vw;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }